/* ===== Импорт шрифтов и CSS-переменные ===== */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text: #fff;
  --text-grey: #babbb7;
  --text-grey-dark: #767a7e;
  --bg-btn: #24262a;
  --dark: #0a0d0e;
  --watch-scale-factor: 1.25;
}
p{
  font-family: "Gilroy", sans-serif;
 

}

/* ===== Глобальные стили (Splide, контейнер, анимации) ===== */
.splide__pagination {
  position: relative !important;
  margin-top: 64px !important;
  gap: 10px;
}

.splide__pagination__page {
  height: 3px !important;
  width: 40px !important;
  border-radius: 0 !important;
}

.splide__pagination__page.is-active {
  background: var(--dark) !important;
}

.container {
  max-width: 1320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* ===== Header ===== */
.header_wrapp {
  background-image: url("../images/BGAbout.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 792px;
  position: relative;
  transition:
    opacity 1.5s ease,
    background-image 1s ease-in-out;
}

.header_wrapp.fade {
  opacity: 0;
}

.header_bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 1;
}

.header_logo-link {
  height: 68px;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header_nav-list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header_nav-list-item-link {
  color: var(--text);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.header_lang {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.header_lang-img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
/* Бургер-меню (по умолчанию скрыто) */
.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.burger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--text);
  transition: 0.3s;
}

/* Dropdown меню */
.dropdown {
  position: relative;
}

.dropbtn {
  color: var(--text);
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  font-family: "Gilroy", sans-serif;
}

.dropbtn-arrow {
  transition: 0.3s all;
}

.dropbtn-arrow.active {
  transform: rotate(180deg);
}

.mega-menu,
.resources-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background: var(--dark);
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2;
  border-top: 1px solid #ddd;
  margin-top: 37px;
}

.mega-menu .container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.mega-menu.active,
.resources-menu.active {
  opacity: 1;
  visibility: visible;
}

.container.mega-menu-desktop {
  display: flex;
  gap: 40px;
}

.container.mega-menu-desktop .card {
  width: 100%;
  overflow: hidden;
}

/* Мобильное подменю (появляется в адаптиве) */
.mobile-subnav {
  display: none;
  list-style: none;
  margin-top: 15px;
}

.mobile-subnav li {
  margin-bottom: 15px;
}

.mobile-subnav a {
  font-family: "Gilroy", sans-serif;
  color: var(--text);
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* Карточки внутри мегаменю */
.card {
  width: 100%;
  color: var(--text);
  position: relative;
  height: 400px;
}

.card_img-wrapp {
  position: relative;
  padding: 24px;
}

.card_img-wrapp p {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: var(--text-grey);
  z-index: 1;
  font-family: "Gilroy", sans-serif;
}

.card_img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  transition: 0.3s all;
  width: 100%;
}

.card-title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 24px;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Gilroy", sans-serif;
}

.overlay {
  position: fixed;
  inset: 0;
  background: #0a0d0e;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ===== Main ===== */
.main {
  overflow: hidden;
}

.text-main {
  position: absolute;
  top: 310px;
  display: flex;
  flex-direction: column;
}

.text-main-title {
  font-size: 60px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 0.22em;
  font-family: "EB Garamond", serif;
  
}
.btn-outline:active {
  background: var(--bg-btn);
  color: var(--text);
}
.btn-outline {
  padding: 12px 25px;
  border: 1px solid var(--bg-btn);
  color: var(--bg-btn);
  transition: 0.3s all;
}
.text-main-subtitle{
  font-family: "Gilroy", sans-serif;
font-size: 24px;
  letter-spacing: 0.06em;
  margin-bottom: 18px;
  text-transform: uppercase;
  color: var(--text);

}
.luxury-page {
  padding: 150px 0;
}

/* Стили цитаты */
.quote-section {
  position: relative;
  text-align: center;
  margin-bottom: 100px;
  
}


.quote-section::before {
  content: '“';
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "EB Garamond", serif;
  
  font-size: 120px;
  color: #f0f0f0;
  z-index: -1;
}

.quote-text {
  font-family: "EB Garamond", serif;
  
  font-style: italic;
  font-size: 32px;
  color:var(--dark);
  max-width: 1090px;
  margin: 0 auto;
  text-align: center;
}


.philosophy__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; 
  gap: 48px;
}

.philosophy__image {
  height: 100%;
}

.philosophy__image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.philosophy__content {
  padding: 87px 0;
}


.philosophy__title {
  font-family: "EB Garamond", serif;
  
  font-size: 32px;

 letter-spacing: 0.06em;
  margin-bottom: 112px;
  text-transform: uppercase;
}
.philosophy__subtitle{
  font-family: "Gilroy", sans-serif;
 letter-spacing: 0.06em;
 margin-bottom: 8px;
 color: var(--text-grey-dark);

}

.philosophy__description p {
  font-family: "Gilroy", sans-serif;
  

  color: var(--text-grey-dark);
  
  text-align: justify;
}

.years {
    padding: 150px 0;
    background-image: url('../images/AboutSectionImg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position:  right 0;
    height: 473px;
}
.years .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.years-box {
   width: 50%;
}
.years-box-title {
  font-family: "Gilroy", sans-serif;
  font-size: 20px;
  letter-spacing: 0.06em;
margin-bottom: 16px;
color: var(--text);
text-transform: uppercase;
}
.years-box-subtitle {
  font-family: "Gilroy", sans-serif;
  letter-spacing: 0.06em;

color: var(--text-grey);

}
.dekla {
    padding: 150px 0;
}

.dekla-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    align-items: center;
}
.dekla-box-text {
} 
.dekla-box-text-title {
  font-family: "EB Garamond", serif;
font-size: 32px;
letter-spacing: 0.06em;
color: var(--dark);
margin-bottom: 112px;
text-transform: uppercase;
}
.dekla-box-text-desc {
    color: var(--text-grey-dark);
}
.dekla-box-img {
    height: 100%;
    width: 100%;
}
.dekla-box-img img{
       height: 100%;
    width: 100%;
    object-fit: cover;
}
.principles {
  position: relative;
  background-color: #F5F5F4; 
  padding: 150px 0 0 0;
  overflow: hidden;
  font-family: "EB Garamond", serif;
  
  text-align: center;
}



.principles__title {
  font-size: 32px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 64px;
  color: var(--dark);
}

.principles__grid {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 64px; 
  text-align: left;
}

.principles__item {
  position: relative;
  padding-left: 50px; 
}

/* Стилизация римских цифр через атрибут data-number */
.principles__item::before {
  content: attr(data-number);
  position: absolute;
  left: 0;
  top: 0;
  font-family: "EB Garamond", serif;

  font-size: 20px;
  color: var(--text-grey); 
}

.principles__subtitle {
  font-family: "Gilroy", sans-serif;

  font-size: 20px;
 
  letter-spacing: 0.06em;
  margin-bottom: 15px;
  color: var(--dark);
}

.principles__text {
  font-family: "Gilroy", sans-serif;
  

    letter-spacing: 0.06em;

  color: var(--text-grey-dark);
}


.principles__footer-image {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.principles__footer-image img {
  max-width: 600px;
  width: 100%;
 
}

/* ===== Footer ===== */
.footer {
  background-color: var(--dark);
  padding: 80px 0 40px;
  color: var(--text);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 120px;
}

.footer_col {
  flex: 1;
}

.footer_col-info {
  flex: 1.5;
}

.footer_logo {
  height: 103px;
  margin-bottom: 10px;
  display: block;
}

.footer_text {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey);
  line-height: 1.6;
  max-width: 240px;
}

.footer_title {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  font-weight: 500;
}

.footer_list li {
  margin-bottom: 4px;
}

.footer_list a,
.footer_contact-info p,
.footer_contact-info a {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey-dark);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer_email {
  margin-top: 20px;
  color: var(--text-grey);
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
}

.footer_bottom {
  font-family: "Gilroy", sans-serif;
  display: flex;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer_copy {
  color: rgba(186, 187, 183, 0.5);
  font-size: 12px;
  flex: 1;
}

.footer_legal {
  display: flex;
  gap: 30px;
  flex: 2;
  justify-content: center;
}

.footer_legal a {
  color: rgba(186, 187, 183, 0.5);
  font-size: 12px;
  text-decoration: none;
}

.footer_socials {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.footer_socials img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: opacity 0.3s;
}

.footer_socials a:hover img {
  opacity: 0.7;
}
.footer_col-info-mob {
  display: none;
}

/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .header_nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #0A0D0E;
    flex-direction: column;
    padding: 130px 20px;
    transition: 0.4s;
    align-items: flex-start;
  }

  .header_nav {
    align-items: flex-start;
  }

  .card_img-wrapp {
    display: none;
  }

  .header_logo,
  .header_lang {
    position: relative;
    z-index: 1;
  }

  .mega-menu-desktop {
    display: none !important;
  }

  .mobile-subnav.active {
    display: block;
  }

  .mega-menu,
  .resources-menu {
    display: none !important;
  }

  .container.mega-menu-desktop {
    gap: 40px;
  }

  .dropbtn {
    font-size: 24px;
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
  }

  body.no-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
  }

  .header_nav-list.open {
    right: 0;
  }

  .header_nav-list {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .header_nav-list-item-link,
  .dropbtn {
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  .mega-menu,
  .resources-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    display: none;
    background: none;
    padding: 20px 0 0 20px;
    border: none;
    margin-top: 10px;
  }

  .mega-menu.active,
  .resources-menu.active {
    display: block;
  }

  .burger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.open span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header_wrapp {
    height: 393px;
  }

  .text-main {
    top: 140px;
  }

  .text-main-title {
    font-size: 48px;
  }

  .text-title {
    margin-bottom: 72px;
  }


 



 
  .luxury-page{
    padding: 50px 0;
  }
  .quote-text{
    width: 100%;
    font-size: 24px;
  }
  .quote-section{
    margin-bottom: 32px;
  }
  .philosophy__content{
    padding: 42px 0;
    display: flex;
    flex-direction: column-reverse;

  }
  .philosophy__title{
order: -1;
margin-bottom: 0;
  }
  .philosophy__description{
    margin-bottom: 36px;
  }
  .philosophy__image{
   
    height: 470px;
  }
  .philosophy__subtitle{
    font-size: 14px;
  }
  .philosophy__title, .machines-title{
    font-size: 24px;
    margin-bottom: 24px;
  }
  .philosophy__description, .machines-list{
    font-size: 14px;
  }
 .years{
    height: 397px;
    padding: 70px 0;
    background-position: 86% 0;

 }
 .dekla{
    padding: 50px 0;
 }
 .dekla-box{
    gap: 24px;
    padding: 66px 0;
 }
 .dekla-box-text-title{
    font-size: 24px;
    margin-bottom: 24px;
 }
 .dekla-box-text-desc{
    font-size: 14px;
 }
 .years-box-title{
    font-size: 18px;
 }
 .years-box-subtitle{
    font-size: 14px;
 }
  .philosophy__container{
    gap: 24px;
  }
  .principles{
    padding-top: 70px;
  }
  .footer_logo {
    height: 55px;
  }

  .footer_text,
  .footer_title,
  .footer_list a,
  .footer_contact-info p,
  .footer_contact-info a {
    font-size: 8.5px;
  }

  .footer {
    padding: 48px 0;
  }

  .footer_top {
    margin-bottom: 69px;
  }

  .footer_copy,
  .footer_legal a {
    font-size: 7.5px;
  }

  .footer_socials img {
    width: 12px;
    height: 12px;
  }
.principles__subtitle{
    font-size: 16px;

}
.principles__text{
    font-size: 14px;
}
.principles__grid{
    gap: 24px;
}
.principles__title{
    font-size: 24px;
    margin-bottom: 32px;
}
}

/* Мобильные устройства (до 530px) */
@media (max-width: 530px) {
  .header_wrapp {
    height: 100vh;
  }
  .header_logo-link{
    height: 40px;
  }

  .text-main {
    top: 170px;
   
  }

  .text-main-title {
    font-size: 30px;
    width: 300px;
  }





  .philosophy__container{
    grid-template-columns: 1fr;
  }

  .footer_top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_col.footer_col-info {
    display: none;
  }

  .footer_col.footer_col-info.footer_col-info-mob {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer_text,
  .footer_title,
  .footer_list a,
  .footer_contact-info p,
  .footer_contact-info a {
    font-size: 16px;
  }

  .footer_title {
    margin-bottom: 16px;
  }

  .footer_top {
    margin-bottom: 56px;
  }

  .footer_bottom {
    flex-direction: column;
    gap: 12px;
  }

  .footer_copy,
  .footer_legal a {
    font-size: 14px;
  }

  .footer_socials img {
    width: 24px;
    height: 24px;
  }
.philosophy__content{
    padding: 0;
    flex-direction: column;
}
.philosophy__title{
order: 0;
}
.philosophy__description{
    margin-bottom: 0;
}
  .years{
    height: 593px;
    background-image: url('../images/AboutSectionImgMob.jpg');
    background-position: 0 35%;
    padding: 56px 0;
  }
  .years .container{
    justify-content: flex-start;
  }
  .years-box{
    width: 100%;
  }
  .dekla-box{
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 0;
  }
  .dekla-box-img{
    height: 500px;
  }
  .principles{
    padding-top: 56px;
  }
  .principles__grid{
    grid-template-columns: 1fr;
  }

 
}
