/* ===== Импорт шрифтов и CSS-переменные ===== */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text: #fff;
  --text-grey: #babbb7;
  --text-grey-dark: #767a7e;
  --bg-btn: #24262a;
  --dark: #0a0d0e;
  --watch-scale-factor: 1.25;
}
.wrapper-black {
  color: var(--text);
}
.container {
  max-width: 1320px;
  padding: 0 16px;
  margin: 0 auto;
}
/* ===== Header ===== */
.header_wrapp {
  background-image: url("/images/BG-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 836px;
  position: relative;
  transition:
    opacity 1.5s ease,
    background-image 1s ease-in-out;
}

.header_wrapp.fade {
  opacity: 0;
}

.header_bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 1;
}

.header_logo-link {
  height: 68px;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header_nav-list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header_nav-list-item-link {
  color: var(--text);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.header_lang {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.header_lang-img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

/* Dropdown меню */
.dropdown {
  position: relative;
}

.dropbtn {
  color: var(--text);
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  font-family: "Gilroy", sans-serif;
}

.dropbtn-arrow {
  transition: 0.3s all;
}

.dropbtn-arrow.active {
  transform: rotate(180deg);
}

.mega-menu,
.resources-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background: var(--dark);
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2;
  border-top: 1px solid #ddd;
  margin-top: 37px;
  height: 100vh;
}

.mega-menu .container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.mega-menu.active,
.resources-menu.active {
  opacity: 1;
  visibility: visible;
}

.container.mega-menu-desktop {
  display: flex;
  gap: 40px;
}

.container.mega-menu-desktop .card {
  width: 100%;
  overflow: hidden;
}

/* Мобильное подменю (появляется в адаптиве) */
.mobile-subnav {
  display: none;
  list-style: none;
  margin-top: 15px;
}

.mobile-subnav li {
  margin-bottom: 15px;
}

.mobile-subnav a {
  font-family: "Gilroy", sans-serif;
  color: var(--text);
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* Карточки внутри мегаменю */
.card {
  width: 100%;
  color: var(--text);
  position: relative;
  height: 400px;
}

.card_img-wrapp {
  position: relative;
  padding: 24px;
}

.card_img-wrapp p {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: var(--text-grey);
  z-index: 1;
  font-family: "Gilroy", sans-serif;
}

.card_img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  transition: 0.3s all;
}

.card-title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 24px;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Gilroy", sans-serif;
}

.overlay {
  position: fixed;
  inset: 0;
  background: #0a0d0e;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}
.black-header,
.wrapper-black {
  background: var(--dark);
}
/* --- СЕКЦИЯ КОНТАКТОВ (Основная верстка) --- */
.main_contacts {
  padding: 52px 0;
}

.contacts_category {
  font-family: "Gilroy", sans-serif;

  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  color: var(--text);
  margin-bottom: 38px;
}

.contacts_title {
  font-family: "EB Garamond", serif;
  font-size: 60px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 32px;
}

.contacts_grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  margin-bottom: 100px;
}

/* Левая колонка: Инфо */
.contacts_info {
  font-family: "Gilroy", sans-serif;

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.info_block {
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-gary);
}
.info_block a {
  transition: 0.3s all;
}

.info_block p,
.info_block a {
  display: block;
}

.info_block a:hover {
  color: var(--text);
}

.info_label {
  color: var(--text);
  margin-bottom: 5px;
}

/* Правая колонка: Форма */
.contacts_form-wrap {
  max-width: 660px;
}

.form_title {
  font-family: "EB Garamond", serif;

  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-bottom: 32px;
}

.form_descr {
  font-family: "Gilroy", sans-serif;

  line-height: 1.7;
  letter-spacing: 0.06em;
  color: var(--text-gary);
  margin-bottom: 64px;
}

.contacts_form {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.form_group {
  position: relative;
}

.form_input,
.form_textarea {
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Тонкая линия */
  padding: 12px 0;
  color: var(--text);
  font-size: 16px;
  transition: border-color 0.3s;
}

.form_input:focus,
.form_textarea:focus {
  outline: none;
  border-bottom-color: var(--text);
}

/* Placeholder тусклый */
.form_input::placeholder,
.form_textarea::placeholder {
  color: var(--text);
}

.form_textarea {
  height: 120px;
  resize: none;
}

/* Нижняя часть формы: чекбокс и кнопка */
.form_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  gap: 12px;
}

/* Кастомный чекбокс */
.form_checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: var(--text-gary);
  cursor: pointer;
  max-width: 400px;
  line-height: 1.5;
  font-family: "Gilroy", sans-serif;
}

.form_checkbox {
  display: none;
}

.checkbox_custom {
  width: 18px;
  height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  position: relative;
  flex-shrink: 0;
  font-family: "Gilroy", sans-serif;
}

/* Галочка при выборе */
.form_checkbox:checked + .checkbox_custom::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid var(--text);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* Разделительная линия внизу */
.contacts_divider {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 100px;
}
.btn-white {
  padding: 12px 32px;
  background: var(--text);
  color: var(--bg-btn);
  transition: 0.3s all;
  font-family: "Gilroy", sans-serif;
}

/* ===== Footer ===== */
.footer {
  background-color: var(--dark);
  padding: 80px 0 40px;
  color: var(--text);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 120px;
}

.footer_col {
  flex: 1;
}

.footer_col-info {
  flex: 1.5;
}

.footer_logo {
  height: 103px;
  margin-bottom: 10px;
  display: block;
}

.footer_text {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey);
  line-height: 1.6;
  max-width: 240px;
}

.footer_title {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  font-weight: 500;
}

.footer_list li {
  margin-bottom: 4px;
}

.footer_list a,
.footer_contact-info p,
.footer_contact-info a {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey-dark);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer_email {
  margin-top: 20px;
  color: var(--text-grey);
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
}

.footer_bottom {
  font-family: "Gilroy", sans-serif;
  display: flex;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer_copy {
  color: rgba(186, 187, 183, 0.5);
  font-size: 12px;
  flex: 1;
}

.footer_legal {
  display: flex;
  gap: 30px;
  flex: 2;
  justify-content: center;
}

.footer_legal a {
  color: rgba(186, 187, 183, 0.5);
  font-size: 12px;
  text-decoration: none;
}

.footer_socials {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.footer_socials img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: opacity 0.3s;
}

.footer_socials a:hover img {
  opacity: 0.7;
}

/* ===== Адаптивные стили ===== */
/* Бургер-меню (по умолчанию скрыто) */
.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.burger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--text);
  transition: 0.3s;
}

.footer_col-info-mob {
  display: none;
}

/* --- АДАПТИВНОСТЬ --- */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .header_nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #0a0d0e;
    flex-direction: column;
    padding: 130px 20px;
    transition: 0.4s;
    align-items: flex-start;
  }

  .header_nav {
    align-items: flex-start;
  }

  .card_img-wrapp {
    display: none;
  }

  .header_logo,
  .header_lang {
    position: relative;
    z-index: 1;
  }

  .mega-menu-desktop {
    display: none !important;
  }

  .mobile-subnav.active {
    display: block;
  }

  .mega-menu,
  .resources-menu {
    display: none !important;
  }

  .container.mega-menu-desktop {
    gap: 40px;
  }

  .dropbtn {
    font-size: 24px;
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
  }

  body.no-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
  }

  .header_nav-list.open {
    right: 0;
  }

  .header_nav-list {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .header_nav-list-item-link,
  .dropbtn {
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  .mega-menu,
  .resources-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    display: none;
    background: none;
    padding: 20px 0 0 20px;
    border: none;
    margin-top: 10px;
  }

  .mega-menu.active,
  .resources-menu.active {
    display: block;
  }

  .burger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.open span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header_wrapp {
    height: 393px;
  }
  .contacts_grid {
    gap: 32px;
    margin-bottom: 0;
  }

  .form_bottom {
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
  .form_btn {
    width: 100%;
  }
  .contacts_category {
    font-size: 20px;
    margin-bottom: 12px;
  }
  .contacts_title {
    font-size: 32px;
    margin-bottom: 54px;
  }
  .form_title {
    font-size: 24px;
  }
  .form_checkbox-label {
    font-size: 12px;
  }
  .footer_logo {
    height: 55px;
  }

  .footer_text,
  .footer_title,
  .footer_list a,
  .footer_contact-info p,
  .footer_contact-info a {
    font-size: 8.5px;
  }

  .footer {
    padding: 48px 0;
  }

  .footer_top {
    margin-bottom: 69px;
  }

  .footer_copy,
  .footer_legal a {
    font-size: 7.5px;
  }

  .footer_socials img {
    width: 12px;
    height: 12px;
  }
}
@media (max-width: 530px) {
  .header_logo-link {
    height: 40px;
  }
  .contacts_grid {
    grid-template-columns: 1fr;
  }
  .footer_top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_col.footer_col-info {
    display: none;
  }

  .footer_col.footer_col-info.footer_col-info-mob {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer_text,
  .footer_title,
  .footer_list a,
  .footer_contact-info p,
  .footer_contact-info a {
    font-size: 16px;
  }

  .footer_title {
    margin-bottom: 16px;
  }

  .footer_top {
    margin-bottom: 56px;
  }

  .footer_bottom {
    flex-direction: column;
    gap: 12px;
  }

  .footer_copy,
  .footer_legal a {
    font-size: 14px;
  }

  .footer_socials img {
    width: 24px;
    height: 24px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: #ffffff;
    border: 1px solid var(--bg-btn);
    color: var(--bg-btn);
  }
  .info_block a:hover {
    opacity: 0.8;
  }

  .btn-white:hover {
    background: var(--bg-btn);
    color: var(--text);
  }
  .btn-outline:hover {
    background: var(--bg-btn);
    color: var(--text);
  }

  .footer_list a:hover,
  .footer_contact-info a:hover {
    color: var(--text);
  }
}
