/* ===== Импорт шрифтов и CSS-переменные ===== */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text: #fff;
  --text-grey: #babbb7;
  --text-grey-dark: #767a7e;
  --bg-btn: #24262a;
  --dark: #0a0d0e;
  --watch-scale-factor: 1.25;
}

/* ===== Глобальные стили (Splide, контейнер, анимации) ===== */
.splide__pagination {
  position: relative !important;
  margin-top: 64px !important;
  gap: 10px;
}

.splide__pagination__page {
  height: 3px !important;
  width: 40px !important;
  border-radius: 0 !important;
}

.splide__pagination__page.is-active {
  background: var(--dark) !important;
}

.splide__slide img {
  width: 100%;
  height: 100%;
}

.container {
  max-width: 1320px;
  padding: 0 16px;
  margin: 0 auto;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.text-animate {
  animation: slideInRight 0.8s ease-out forwards;
}

/* ===== Header ===== */
.header_wrapp {
  background-image: url("../images/BG-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 836px;
  position: relative;
  transition:
    opacity 1.5s ease,
    background-image 1s ease-in-out;
}

.header_wrapp.fade {
  opacity: 0;
}

.header_bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 2;
}

.header_logo-link {
  height: 68px;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header_nav-list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header_nav-list-item-link {
  color: var(--text);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.header_lang {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.header_lang-img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}

/* Dropdown меню */
.dropdown {
  position: relative;
}

.dropbtn {
  color: var(--text);
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  font-family: "Gilroy", sans-serif;
}

.dropbtn-arrow {
  transition: 0.3s all;
}

.dropbtn-arrow.active {
  transform: rotate(180deg);
}

.mega-menu,
.resources-menu {
  height: 100vh;
  position: absolute;
  left: 0;
  width: 100%;
  background: var(--dark);
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2;
  border-top: 1px solid #ddd;
  margin-top: 37px;
}

.mega-menu .container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.mega-menu.active,
.resources-menu.active {
  opacity: 1;
  visibility: visible;
}

.container.mega-menu-desktop {
  display: flex;
  gap: 40px;
}

.container.mega-menu-desktop .card {
  width: 100%;
  overflow: hidden;
}

/* Мобильное подменю (появляется в адаптиве) */
.mobile-subnav {
  display: none;
  list-style: none;
  margin-top: 15px;
}

.mobile-subnav li {
  margin-bottom: 15px;
}

.mobile-subnav a {
  font-family: "Gilroy", sans-serif;
  color: var(--text);
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* Карточки внутри мегаменю */
.card {
  width: 100%;
  color: var(--text);
  position: relative;
  height: 400px;
}

.card_img-wrapp {
  position: relative;
  padding: 24px;
}

.card_img-wrapp p {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: var(--text-grey);
  z-index: 1;
  font-family: "Gilroy", sans-serif;
}

.card_img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  transition: 0.3s all;
  width: 100%;
}

.card-title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 24px;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Gilroy", sans-serif;
}

.overlay {
  position: fixed;
  inset: 0;
  background: #0a0d0e;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ===== Main ===== */
.main {
  overflow: hidden;
}

.text-main {
  position: absolute;
  top: 310px;
  display: flex;
  flex-direction: column;
}

.text-main-title {
  font-size: 60px;
  color: var(--text);
  text-transform: uppercase;
  letter-spacing: 0.22em;
  font-family: "EB Garamond", serif;
  width: 522px;
}
.blog-post {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 60px 0;
}

.blog-header {
  margin-bottom: 60px;
}

.breadcrumb {
  font-family: "Gilroy", sans-serif;

  font-size: 11px;
  letter-spacing: 1px;
  color: #999;
  text-transform: uppercase;
}

.breadcrumb a {
  text-decoration: none;
  color: #999;
}

.breadcrumb a:hover {
  color: #333;
}

.current-page {
  color: #333;
}

.blog-container {
}

.article-label {
  font-family: "Gilroy", sans-serif;

  font-size: 14px;
  letter-spacing: 0.06em;
  color: var(--text-grey-dark);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.article-title {
  font-family: "EB Garamond", serif;

  font-size: 48px;
  letter-spacing: 0.06em;

  margin-bottom: 50px;
  text-transform: uppercase;
}

.article-image {
  margin-bottom: 60px;
  width: 100%;
}

.article-image img {
  width: 100%;
  height: auto;
  display: block;
}

/* Типографика текста */
.article-intro p {
  font-family: "Gilroy", sans-serif;

  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 40px;
  color: #222;
}

.article-subtitle {
  font-family: "EB Garamond", serif;

  font-size: 48px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  text-transform: uppercase;
  color: #1a1a1a;
}

.article-text p {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #666;
  margin-bottom: 25px;
  max-width: 90%; /* Немного сужаем, чтобы текст не был слишком длинным */
}

.gallery {
  padding-bottom: 150px;
}

.gallery__title {
  font-family: "EB Garamond", serif;

  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 64px;
}

.gallery__grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  grid-auto-rows: 180px;
  gap: 15px;
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.item-1 {
  grid-column: 1;
  grid-row: 1;
}
.item-2 {
  grid-column: 1;
  grid-row: 2;
}

.item-3 {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
}

.item-4 {
  grid-column: 4;
  grid-row: 1 / 3;
}

.item-5 {
  grid-column: 1 / 3;
  grid-row: 3;
}
.item-6 {
  grid-column: 3;
  grid-row: 3;
}
.item-7 {
  grid-column: 4;
  grid-row: 3;
}

.commitment {
  padding-bottom: 150px;
}
.commitment-content-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 58px;
  align-items: center;
}
.commitment__title {
  font-family: "EB Garamond", serif;

  font-size: 32px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.commitment__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 64px;
}

.commitment__subtitle {
  font-family: "Gilroy", sans-serif;

  font-size: 20px;

  letter-spacing: 0.06em;
  margin-bottom: 8px;
  color: var(--dark);
}

.commitment__text {
  font-family: "Gilroy", sans-serif;

  letter-spacing: 0.06em;

  color: var(--text-grey-dark);
  margin-bottom: 30px;
}

.commitment__image {
  width: 100%;
  height: 500px;
  aspect-ratio: 1 / 1.2; /* Чтобы изображения были одинаковой высоты */
  overflow: hidden;
  background-color: #f5f5f5;
}

.commitment__image img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Изображение заполняет область без искажения */
}

.arrow_btn-wrap {
  display: flex;
  gap: 24px;
}
.arrow-btn {
  width: 24px;
  height: 24px;
}
.news-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-card-title {
  font-family: "EB Garamond", serif;

  font-size: 32px;
  letter-spacing: 0.06em;
  margin-bottom: 15px;
  color: #1a1a1a;
}

.card-excerpt {
  color: #666;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  margin-bottom: 24px;
}

.news-card .read-more {
  color: #111;
  transition: 0.3s all;
  margin-top: auto;
}
.news-card {
  height: 100%;
  display: flex;

  flex-direction: column;
}

/* Load More */
.load-more {
  text-align: center;
  padding-bottom: 80px;
}
.news-card .read-more:hover {
  opacity: 0.7;
}

.load-btn {
  background: none;
  border: none;
  font-size: 12px;
  letter-spacing: 2px;
  cursor: pointer;
}
.card-image {
  margin-bottom: 24px;
}
.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card-content .label {
  font-family: "Gilroy", sans-serif;
  margin-bottom: 8px;
  color: var(--text-grey-dark);
}

/* ===== Footer ===== */
.footer {
  background-color: var(--dark);
  padding: 80px 0 40px;
  color: var(--text);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 120px;
}

.footer_col {
  flex: 1;
}

.footer_col-info {
  flex: 1.5;
}

.footer_logo {
  height: 103px;
  margin-bottom: 10px;
  display: block;
}

.footer_text {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey);
  line-height: 1.6;
  max-width: 240px;
}

.footer_title {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  font-weight: 500;
}

.footer_list li {
  margin-bottom: 4px;
}

.footer_list a,
.footer_contact-info p,
.footer_contact-info a {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey-dark);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer_email {
  margin-top: 20px;
  color: var(--text-grey);
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
}

.footer_bottom {
  font-family: "Gilroy", sans-serif;
  display: flex;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer_copy {
  color: rgba(186, 187, 183, 0.5);
  font-size: 12px;
  flex: 1;
}

.footer_legal {
  display: flex;
  gap: 30px;
  flex: 2;
  justify-content: center;
}

.footer_legal a {
  color: rgba(186, 187, 183, 0.5);
  font-size: 12px;
  text-decoration: none;
}

.footer_socials {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.footer_socials img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: opacity 0.3s;
}

.footer_socials a:hover img {
  opacity: 0.7;
}
.footer_col-info-mob {
  display: none;
}
/* Бургер-меню (по умолчанию скрыто) */
.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.burger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--text);
  transition: 0.3s;
}

/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .header_nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #0a0d0e;
    flex-direction: column;
    padding: 130px 20px;
    transition: 0.4s;
    align-items: flex-start;
  }

  .header_nav {
    align-items: flex-start;
  }

  .card_img-wrapp {
    display: none;
  }

  .header_logo,
  .header_lang {
    position: relative;
    z-index: 1;
  }
  .gallery {
    padding-bottom: 70px;
  }

  .mega-menu-desktop {
    display: none !important;
  }

  .mobile-subnav.active {
    display: block;
  }

  .mega-menu,
  .resources-menu {
    display: none !important;
  }

  .container.mega-menu-desktop {
    gap: 40px;
  }

  .dropbtn {
    font-size: 24px;
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
  }

  body.no-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
  }

  .header_nav-list.open {
    right: 0;
  }

  .header_nav-list {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .header_nav-list-item-link,
  .dropbtn {
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  .mega-menu,
  .resources-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    display: none;
    background: none;
    padding: 20px 0 0 20px;
    border: none;
    margin-top: 10px;
  }

  .mega-menu.active,
  .resources-menu.active {
    display: block;
  }

  .burger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.open span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header_wrapp {
    height: 393px;
  }

  .text-main {
    top: 140px;
  }

  .text-main-title {
    font-size: 48px;
  }

  .text-title {
    margin-bottom: 72px;
  }
  .featured {
    padding: 50px 0;
  }
  .novelty-box-text-title {
    font-size: 24px;
  }
  .novelty-box {
    gap: 32px;
  }
  .novelty-box-text {
    padding: 58px 0;
  }
  .article-title {
    font-size: 32px;
  }
  .btn-outline {
    font-size: 14px;
  }
  .arrow_btn-wrap {
    display: flex;
  }

  .footer_logo {
    height: 55px;
  }

  .footer_text,
  .footer_title,
  .footer_list a,
  .footer_contact-info p,
  .footer_contact-info a {
    font-size: 8.5px;
  }

  .footer {
    padding: 48px 0;
  }

  .footer_top {
    margin-bottom: 69px;
  }

  .footer_copy,
  .footer_legal a {
    font-size: 7.5px;
  }

  .footer_socials img {
    width: 12px;
    height: 12px;
  }

  .commitment__title {
    font-size: 24px;
  }
  .commitment-content-header {
    margin-bottom: 32px;
  }

  .commitment__subtitle {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .commitment__image {
    height: 350px;
  }
  .featured-content-title {
    font-size: 24px;
  }
  .featured-content-head {
    margin-bottom: 32px;
  }
  .commitment {
    padding-bottom: 70px;
  }
  .article-subtitle {
    font-size: 32px;
  }
  .commitment-content-header {
    gap: 30px;
  }
}

/* Мобильные устройства (до 530px) */
@media (max-width: 530px) {
  .header_wrapp {
    height: 100vh;
  }
  .header_logo-link {
    height: 40px;
  }

  .text-main {
    top: 170px;
  }

  .text-main-title {
    font-size: 30px;
    width: 300px;
  }

  .featured-content .splide__list {
    flex-direction: column;
  }
  .novelty-box {
    grid-template-columns: 1fr;
    gap: 48px;
  }
  .novelty-box-text {
    padding-top: 0;
  }
  .novelty-box-text-title {
    margin-bottom: 32px;
  }

  .splide__pagination__page {
    width: 21px !important;
    height: 2px !important;
  }

  .splide__pagination {
    margin-top: 32px !important;
  }
  .commitment__subtitle {
    width: 300px;
  }
  .commitment__image {
    height: 500px;
  }
  .footer_top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_col.footer_col-info {
    display: none;
  }

  .footer_col.footer_col-info.footer_col-info-mob {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer_text,
  .footer_title,
  .footer_list a,
  .footer_contact-info p,
  .footer_contact-info a {
    font-size: 16px;
  }

  .footer_title {
    margin-bottom: 16px;
  }

  .footer_top {
    margin-bottom: 56px;
  }

  .footer_bottom {
    flex-direction: column;
    gap: 12px;
  }

  .footer_copy,
  .footer_legal a {
    font-size: 14px;
  }

  .footer_socials img {
    width: 24px;
    height: 24px;
  }
  .gallery__grid {
    /* На мобилке делаем 2 колонки */
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
  }

  .gallery__item img {
    height: 100%; /* Возвращаем заполнение ячейки */
  }

  /* 1. Первые две картинки в один ряд */
  .item-1 {
    grid-column: 1;
    grid-row: 1;
  }
  .item-2 {
    grid-column: 2;
    grid-row: 1;
  }

  /* 2. Большая центральная картинка на весь ряд */
  .item-3 {
    grid-column: 1 / 3;
    grid-row: 2;
    aspect-ratio: 1 / 1; /* Чтобы была квадратной/крупной */
  }

  /* 3. Левая высокая картинка (циферблат крупно) */
  .item-4 {
    grid-column: 1;
    grid-row: 3 / 5; /* Занимает 2 строки в высоту */
  }

  /* 4. Маленькие картинки справа от высокой */
  .item-6 {
    grid-column: 2;
    grid-row: 3;
  }
  .item-7 {
    grid-column: 2;
    grid-row: 4;
  }

  /* 5. Нижняя широкая картинка (стрелка) */
  .item-5 {
    grid-column: 1 / 3;
    grid-row: 5;
  }
}

/* ===== Hover-эффекты только для устройств с мышью (десктоп) ===== */
@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: #ffffff;
    border: 1px solid var(--bg-btn);
    color: var(--bg-btn);
  }

  .btn-outline:hover {
    background: var(--bg-btn);
    color: var(--text);
  }
  .featured-content-card:hover .featured-content-card-img {
    scale: 1.1;
  }
  .featured-content-card:hover .btn-outline {
    background: var(--bg-btn);
    color: var(--text);
  }

  .footer_list a:hover,
  .footer_contact-info a:hover {
    color: var(--text);
  }
}
