/* ===== Импорт шрифтов и CSS-переменные ===== */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --text: #fff;
  --text-grey: #babbb7;
  --text-grey-dark: #767a7e;
  --bg-btn: #24262a;
  --dark: #0a0d0e;
  --watch-scale-factor: 1.25;
}
p {
  font-family: "Gilroy", sans-serif;
}

/* ===== Глобальные стили (Splide, контейнер, анимации) ===== */
.splide__pagination {
  position: relative !important;
  margin-top: 64px !important;
  gap: 10px;
}

.splide__pagination__page {
  height: 3px !important;
  width: 40px !important;
  border-radius: 0 !important;
}

.splide__pagination__page.is-active {
  background: var(--dark) !important;
}

.container {
  max-width: 1320px;
  padding: 0 16px;
  margin: 0 auto;
}

/* ===== Header ===== */
.header_wrapp {
  background-image: url("../images/BGAbout.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 792px;
  position: relative;
  transition:
    opacity 1.5s ease,
    background-image 1s ease-in-out;
}

.header_wrapp.fade {
  opacity: 0;
}

.header_bg {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.1));
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 1;
}

.header_logo-link {
  height: 68px;
}

.header_nav {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header_nav-list {
  display: flex;
  align-items: center;
  gap: 26px;
}

.header_nav-list-item-link {
  color: var(--text);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.header_lang {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--text);
  text-transform: uppercase;
  font-family: "Gilroy", sans-serif;
}

.header_lang-img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
/* Бургер-меню (по умолчанию скрыто) */
.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 100;
}

.burger span {
  display: block;
  width: 25px;
  height: 2px;
  background-color: var(--text);
  transition: 0.3s;
}

/* Dropdown меню */
.dropdown {
  position: relative;
}

.dropbtn {
  color: var(--text);
  text-transform: uppercase;
  display: flex;
  gap: 10px;
  font-family: "Gilroy", sans-serif;
}

.dropbtn-arrow {
  transition: 0.3s all;
}

.dropbtn-arrow.active {
  transform: rotate(180deg);
}

.mega-menu,
.resources-menu {
  position: absolute;
  left: 0;
  width: 100%;
  background: var(--dark);
  padding: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  z-index: 2;
  border-top: 1px solid #ddd;
  margin-top: 37px;
}

.mega-menu .container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
}

.mega-menu.active,
.resources-menu.active {
  opacity: 1;
  visibility: visible;
}

.container.mega-menu-desktop {
  display: flex;
  gap: 40px;
}

.container.mega-menu-desktop .card {
  width: 100%;
  overflow: hidden;
}

/* Мобильное подменю (появляется в адаптиве) */
.mobile-subnav {
  display: none;
  list-style: none;
  margin-top: 15px;
}

.mobile-subnav li {
  margin-bottom: 15px;
}

.mobile-subnav a {
  font-family: "Gilroy", sans-serif;
  color: var(--text);
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  letter-spacing: 0.1em;
}

/* Карточки внутри мегаменю */
.card {
  width: 100%;
  color: var(--text);
  position: relative;
  height: 400px;
}

.card_img-wrapp {
  position: relative;
  padding: 24px;
}

.card_img-wrapp p {
  position: relative;
  font-size: 14px;
  letter-spacing: 0.06em;
  color: var(--text-grey);
  z-index: 1;
  font-family: "Gilroy", sans-serif;
}

.card_img {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  object-fit: cover;
  transition: 0.3s all;
  width: 100%;
}

.card-title {
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 24px;
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: "Gilroy", sans-serif;
}

.overlay {
  position: fixed;
  inset: 0;
  background: #0a0d0e;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* ===== Main ===== */
.main {
  overflow: hidden;
}

.retails-page {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  font-family: "Gilroy", sans-serif;
}

.retails-container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  gap: 50px;
  align-items: flex-start;
  position: relative;
}
.retails-container::after{
  content:'';
  position: absolute;
  width: 85vh;
  height: 1px;
  background: #d4d4d4;
  left: -55px;
  right: 0;

}

/* Сайдбар */
.sidebar {
  width: 100%;
  padding: 66px 0;
  overflow-y: auto;

  background: #fff;
}

.subtitle {
  font-size: 24px;
  letter-spacing: 0.06em;
  color: var(--text-grey);
  margin-bottom: 18px;
}

.main-title {
  font-family: "EB Garamond", serif;

  font-size: 48px;
  letter-spacing: 0.18em;
  margin-bottom: 50px;
}

.search-box {
  position: relative;
  border-bottom: 1px solid #ccc;
  margin-bottom: 32px;
}

.search-box input {
  width: 100%;
  border: none;
  padding: 10px 0;
  outline: none;
  font-size: 16px;
}

.search-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
}

.store-img {
  width: 100%;
  height: auto;
  margin-bottom: 25px;
}

.store-info h3 {
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.2;
  margin-bottom: 4px;
}

.store-info address,
.contacts,
.opening-times {
  font-size: 13px;
  line-height: 1.8;
  color: var(--text-grey-dark);
  margin-bottom: 20px;
  font-style: normal;
}
p strong {
  color: var(--dark);
}

/* Карта */
.map-view {
 height: 100%;
  flex-grow: 1;
  position: relative;
  background: #f5f5f5;
}
#map{
  height: 100%;
}
.map-placeholder {
  background-image: url("../images/BGMAp.jpg");
  width: 100%;
  height: 595px;
  background-size: cover;
  background-position: center;
}

.map-pin {
  position: absolute;
  cursor: pointer;
}

.pin-icon {
  width: 30px;
  height: 30px;
  background: #000;
  color: #fff;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
}

.pin-popup {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  padding: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 180px;
  text-align: center;
}

.pin-popup img {
  width: 100%;
}
.pin-popup p {
  font-size: 12px;
  margin-top: 5px;
}

.inquiry-footer {
  background-color: var(--dark);
  color: var(--text);
  padding: 120px 0;
}

.footer-container {
  display: flex;

  gap: 64px;
  justify-items: end;
}
.inquiry-info {
  max-width: 50%;
}
.inquiry-info h3 {
  font-family: "EB Garamond", serif;

  font-size: 32px;
  letter-spacing: 0.06em;
  margin-bottom: 64px;
}

.inquiry-info p {
  font-family: "Gilroy", sans-serif;
  letter-spacing: 0.06em;

  color: var(--text-grey);
}

/* Форма */
.inquiry-form {
  width: 50%;
}
.inquiry-form .input-group {
  margin-bottom: 32px;
  border-bottom: 1px solid var(--text-grey-dark);
}

.inquiry-form input,
.inquiry-form textarea {
  font-family: "Gilroy", sans-serif;

  width: 100%;
  background: none;
  border: none;
  color: var(--text);
  padding: 10px 0;
  outline: none;
}
.inquiry-form textarea {
  resize: none;
}
.checkbox-container {
  display: flex;
}

.form-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  gap: 24px;
}

/* ===== Footer ===== */
.footer {
  background-color: var(--dark);
  padding: 80px 0 40px;
  color: var(--text);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer_top {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 120px;
}

.footer_col {
  flex: 1;
}

.footer_col-info {
  flex: 1.5;
}

.footer_logo {
  height: 103px;
  margin-bottom: 10px;
  display: block;
}

.footer_text {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey);
  line-height: 1.6;
  max-width: 240px;
}

.footer_title {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 24px;
  font-weight: 500;
}

.footer_list li {
  margin-bottom: 4px;
}

.footer_list a,
.footer_contact-info p,
.footer_contact-info a {
  font-family: "Gilroy", sans-serif;
  color: var(--text-grey-dark);
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.footer_email {
  margin-top: 20px;
  color: var(--text-grey);
  font-family: "Gilroy", sans-serif;
  display: flex;
  flex-direction: column;
}

.footer_bottom {
  font-family: "Gilroy", sans-serif;
  display: flex;
  align-items: center;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer_copy {
  color: rgba(186, 187, 183, 0.5);
  font-size: 12px;
  flex: 1;
}

.footer_legal {
  display: flex;
  gap: 30px;
  flex: 2;
  justify-content: center;
}

.footer_legal a {
  color: rgba(186, 187, 183, 0.5);
  font-size: 12px;
  text-decoration: none;
}

.footer_socials {
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
}

.footer_socials img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
  transition: opacity 0.3s;
}

.footer_socials a:hover img {
  opacity: 0.7;
}
.footer_col-info-mob {
  display: none;
}
.btn-white {
  padding: 12px 32px;
  background: var(--text);
  color: var(--bg-btn);
  transition: 0.3s all;
  font-family: "Gilroy", sans-serif;
}

/* Кастомный чекбокс */
.form_checkbox-label {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  color: var(--text-gary);
  cursor: pointer;
  max-width: 400px;
  line-height: 1.5;
  font-family: "Gilroy", sans-serif;
}

.form_checkbox {
  display: none;
}

.checkbox_custom {
  width: 18px;
  height: 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  display: block;
  position: relative;
  flex-shrink: 0;
  font-family: "Gilroy", sans-serif;
}

/* Галочка при выборе */
.form_checkbox:checked + .checkbox_custom::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 6px;
  width: 4px;
  height: 8px;
  border: solid var(--text);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
/* Мобильные устройства (до 768px) */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .header_nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #0a0d0e;
    flex-direction: column;
    padding: 130px 20px;
    transition: 0.4s;
    align-items: flex-start;
  }

  .header_nav {
    align-items: flex-start;
  }

  .card_img-wrapp {
    display: none;
  }

  .header_logo,
  .header_lang {
    position: relative;
    z-index: 1;
  }

  .mega-menu-desktop {
    display: none !important;
  }

  .mobile-subnav.active {
    display: block;
  }

  .mega-menu,
  .resources-menu {
    display: none !important;
  }

  .container.mega-menu-desktop {
    gap: 40px;
  }

  .dropbtn {
    font-size: 24px;
    padding: 10px 0;
    width: 100%;
    justify-content: space-between;
  }

  body.no-scroll {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    width: 100%;
  }

  .header_nav-list.open {
    right: 0;
  }

  .header_nav-list {
    flex-direction: column;
    width: 100%;
    gap: 30px;
  }

  .header_nav-list-item-link,
  .dropbtn {
    font-size: 20px;
    letter-spacing: 0.1em;
  }

  .mega-menu,
  .resources-menu {
    position: static;
    opacity: 1;
    visibility: visible;
    display: none;
    background: none;
    padding: 20px 0 0 20px;
    border: none;
    margin-top: 10px;
  }

  .mega-menu.active,
  .resources-menu.active {
    display: block;
  }

  .burger.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .burger.open span:nth-child(2) {
    transform: rotate(-45deg);
  }

  .header_wrapp {
    height: 393px;
  }

  .text-main {
    top: 140px;
  }

  .text-main-title {
    font-size: 48px;
  }

  .text-title {
    margin-bottom: 72px;
  }

  .footer_logo {
    height: 55px;
  }

  .footer_text,
  .footer_title,
  .footer_list a,
  .footer_contact-info p,
  .footer_contact-info a {
    font-size: 8.5px;
  }

  .footer {
    padding: 48px 0;
  }

  .footer_top {
    margin-bottom: 69px;
  }

  .footer_copy,
  .footer_legal a {
    font-size: 7.5px;
  }

  .footer_socials img {
    width: 12px;
    height: 12px;
  }

  .inquiry-footer {
    padding: 70px 0;
  }
  .inquiry-form {
    max-width: 400px;
  }
  .footer-container {
    gap: 32px;
    align-items: center;
  }
  .subtitle {
    font-size: 20px;

    margin-bottom: 12px;
  }
  .main-title {
    font-size: 32px;
  }
  .retails-container {
    gap: 24px;
  }
}
@media (max-width: 570px) {
  .footer-container {
    flex-direction: column;
  }
  .inquiry-info,
  .inquiry-form {
    max-width: 100%;
  }
  .inquiry-form {
    width: 100%;
  }
}

/* Мобильные устройства (до 530px) */
@media (max-width: 530px) {
  .header_wrapp {
    height: 100vh;
  }
  .header_logo-link {
    height: 40px;
  }

  .text-main {
    top: 170px;
  }

  .text-main-title {
    font-size: 30px;
    width: 300px;
  }

  .watch-illustration {
    height: 200px;
  }
  .section-subtitle {
    font-size: 20px;
  }
  .main-title {
    font-size: 28px;
  }
  .subtitle {
    font-size: 16px;
  }

  .footer_top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer_col.footer_col-info {
    display: none;
  }

  .footer_col.footer_col-info.footer_col-info-mob {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .footer_text,
  .footer_title,
  .footer_list a,
  .footer_contact-info p,
  .footer_contact-info a {
    font-size: 16px;
  }

  .footer_title {
    margin-bottom: 16px;
  }

  .footer_top {
    margin-bottom: 56px;
  }

  .footer_bottom {
    flex-direction: column;
    gap: 12px;
  }

  .footer_copy,
  .footer_legal a {
    font-size: 14px;
  }

  .footer_socials img {
    width: 24px;
    height: 24px;
  }
  .retails-container {
   grid-template-columns: 1fr;
  }
  .sidebar {
    width: 100%;
    padding-bottom: 0;
    padding-top: 24px;
  }
  .map-view {
    width: 100%;
  }
  .map-placeholder {
    height: 580px;
  }
  .retails-container::after{
    display: none;
  }
  .map-view{
    height: 580px;
  }
}

@media (hover: hover) and (pointer: fine) {
  .btn:hover {
    background-color: #ffffff;
    border: 1px solid var(--bg-btn);
    color: var(--bg-btn);
  }
  .info_block a:hover {
    opacity: 0.8;
  }

  .btn-white:hover {
    background: var(--bg-btn);
    color: var(--text);
  }
  .tab-link:hover {
    border-color: var(--dark);
    color: var(--dark);
  }

  .footer_list a:hover,
  .footer_contact-info a:hover {
    color: var(--text);
  }
}
